*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/gradleProperties/apikeys.properties
/encryptedKey/
/releaseKeys/
/gradleProperties/keystore.properties
/app/debug/app-debug.aab
/app/release/app-release.aab
/features/search/data/apikeys.properties
/libraries/unsplash/apikeys.properties
/libraries/unsplash/unsplash_apikeys.properties
